:root {
    --primary-color:#333;
    --secondary-color:#444;
    --overlay-color:rgba(0,0,0,0.7);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

body {
    font-family: 'Catamaran', sans-serif;
}

.navbar .container .logo {
    font-size: 35px;
    margin-left: 100px;
}

.navbar .container {
display: grid;
grid-template-columns: repeat(2,1fr);
}

.navbar .container .nav {
    display: flex;
    justify-content: flex-end;
    padding: 0 25px;
    list-style: none;
    /*overflow: hidden; add it to media query*/
}



.nav li {
    margin: 5px;
}

.nav li a {
    text-decoration: none;
    font-size: 20px;
    letter-spacing: 2px;
    color: var(--secondary-color);
    
}

.nav li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s linear;
}

.nav li a:hover::after {
   width: 100%;

}

.nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: yellowgreen;
  transition: all 0.3s ease-in-out;
  
}

/* end of navigation bar section */

/* Section-one start */
.section-one {
   
    background-color: var(--primary-color);
    color: #fff;
    
}

.section-one .container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 50px;
}

.section-one .container div:first-child {

}

.section-one .container div img {
    max-width: 1100px;
    height: 100%;
}

.section-one .container div:last-child {
    text-align: center;
    margin: auto;
    padding: 10px;
}

.section-one .container h3 {
    font-size: 35px;
}

.section-one .container p {
    font-size: 22px;
    
}

.btn {
    text-decoration: none;
    font-size: 27px;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    color: #fff;
    background-color: var(--primary-color);
}

/* Section-two start */
.section-two {
    background-color: #bfbfbf;
    text-align: center;
    padding: 5px 0;
}

.section-two h2 {
    font-size: 35px;
    
    box-shadow: 1px 3px 5px 3px;
    width: 400px;
    margin: auto;
    border-radius: 12px;
    text-align: center;
}



.section-two .container-1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.6)) , url(img/8.jpg);
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin-top: 10px;
}

.section-two .container-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.6)) , url(img/10.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    color: #fff;
    height: 600px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
   
}

.section-two .container-1,.container-2 p {
    font-size: 24px;
}
/* --------- section-two end ---------------- */

/* section-three start */

.section-three {
    background-color: var(--primary-color);
   padding: 20px 0;
   
}

.section-three h2 {
    font-size: 35px;
    color: #fff;
    box-shadow: 1px 3px 5px 3px black;
    width: 400px;
    margin: auto;
    border-radius: 12px;
    text-align: center;
   
}

.section-three .gallery {
    padding-top: 20px;
display: grid;
text-align: center;
justify-content: center;
grid-template-columns: repeat(4,200px);
grid-gap: 6px;

}

.section-three .gallery img , .section-three .gallery a {
    width: 100%;
    height: 100%;
}

.section-three .content-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(73, 166, 233, 0.5);
    place-items: center;
    display: grid;
    z-index: -10;
    visibility: hidden;
    
}

.content-box.open-modal {
    visibility: visible;
    z-index: 10;
  }

.section-three .content-box .modal-box {
    position: relative;
    width: 45%;
    border-radius: 10px;
    background-color: #fff;
    padding: 5px;
    display: grid;
    
}

.img-number {
    text-align: center;
    font-size: 22px;
}

 .close-icon {
    position: absolute;
    top: 8%;
    left: 85%;
    cursor: pointer;
    
}

.right-arrow {
    position: absolute;
    left: 90%;
    bottom: 50%;
    cursor: pointer;
    
}

.left-arrow {
    position: absolute;
    bottom: 50%;
    left: 4%;
    cursor: pointer;
    transition: 0.6s ease;
}

.put-img {
  
}


/* Fading animation used for nextImage and previousImage */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

  /*Scale animation used when we close current image */
.close-anime {
    animation-name: close-anime;
    animation-duration: 0.4s;
    animation-timing-function: ease-in-out;
    animation-direction: forwards;
}

@keyframes close-anime {
    0% {transform: scaleX(1);}
   
    100% {transform: scaleX(0);}
    
}

.expand-faq-anime {
    animation-name: expand-faq-anime;
    animation-duration: 0.4s;
    animation-timing-function: linear;  
    animation-fill-mode: forwards;
}

@keyframes expand-faq-anime {
0% {transform:scaleX(0.4);}

100% {transform:scaleX(1);}
}

.close-faq-anime {
    animation-name: close-faq-anime;
    animation-duration: 0.4s;
    animation-timing-function: linear;  
    animation-fill-mode: forwards;
}

@keyframes close-faq-anime {
    0% {transform:scaleX(1);}
    
    100% {transform:scaleX(0.4);}
    }

/*--------End of section three-----------*/

.section-four {
    background-color: #bfbfbf;
    padding: 5px;
}

.section-four h2 {
    font-size: 35px;
    margin-bottom: 30px;
    box-shadow: 1px 3px 5px 3px;
    width: 400px;
    margin: auto;
    border-radius: 12px;
    text-align: center;
}

.section-four .container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 20px;
    padding: 10px;
   
    
}

/*expanding and minimizing content box for each 
frequently asked question */
.section-four .container .faq {
    border: 1px solid var(--secondary-color);
    border-radius: 12px;
    padding: 5px;
    text-align: center;
    
}


.faq .question {
    font-size: 23px;
    
}

/*hide minimize button */
.question .minimize-btn {
    display: none;
}

/*display minimize button */
.minimize-btn.show {
    display: block;
   
}

/*hide the expand button */
.expand-btn.hide {
    display: none;
}

/*hidden paragraph text */
.faq .answer {
    font-size: 19px;
    border-top: 1px solid var(--secondary-color);
    display: none;
    padding: 8px;
    
}

/*display paragraph text */
.answer.show {
    display: block;
   
}

/* used to expand and minimize text content of FAQ */
.expand-btn i , .minimize-btn i {
    font-size: 38px;
    cursor: pointer;
   padding: 10px;
   color: var(--primary-color);
   transition: color 0.3s linear;
}

.expand-btn i:hover {
    color: #766340;
}
.minimize-btn i:hover {
    color: #766340;
}
/* ----------end of section-four--------------------- */

.section-five .container {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
    background-color: var(--primary-color);
    color: #fff;
    text-align: center;
    padding-bottom: 10px;
}

.section-five .container ul {
    list-style: none;
}

.section-five .container ul li a {
    text-decoration: none;
    color: #fff;
}

.section-five .container .social-media {
    display: flex;
    justify-content: center;
   
}

.section-five .container .social-media li {
    padding: 5px 10px;
}

.social-media li a i {
    transition: color 0.9s linear;
}

.social-media li a i:hover {
    color: #766340;
}

.section-five .container .contact li small {
    font-size: 22px;
    margin-left: 15px;
}

.section-five .container .company li small {
    font-size: 22px;
}

.section-five strong {
    font-size: 30px;
}

.section-five p {
    font-size: 21px;
}

#email {
    font-size: 23px;
    border-radius: 10px;
    padding: 3px;
    border-color: #fff;
    background-color: transparent;
    color: #fff;
}

#email::placeholder {
    color: #fff;
    opacity: 0.8;
}

.submit {
    font-size: 20px;
    padding: 10px;
    border-radius: 12px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
}

.submit-slide::before {
    content: '';
    position: absolute;
    top: 0;
bottom: 0;
left: 0;
right: 0;
z-index: -1;
background-color: #766340;
transform: scaleX(0);
transform-origin: left;
transition: 300ms transform ease-in-out;
}

.submit-slide:hover::before {
    transform: scaleX(1);
}

.submit-slide {
    z-index: 1;
    transition: 300ms color ease-in-out;
}

.submit-slide:hover {
    color: lightgray;
}

.section-five .copyright {
    font-size: 24px;
    color: black;
    background-color: lightgray;
    text-align: center;
}

/*media queries */
@media screen and (max-width: 850px) {

    .navbar .container .logo {
        font-size: 24px;
    }

    .navbar .container .nav {
        justify-content: center;
    }

    .nav li a {
        font-size: 17px;
    }

.navbar .container {
    grid-template-columns: repeat(1,1fr);
}

.section-one .container {
    grid-template-columns: repeat(1,1fr);
}

.section-one .container h3 {
    font-size:24px;
}

.section-one .container p {
    font-size: 17px;
    margin-bottom: 10px;
}

.section-one .btn {
    margin-top: 60px;
    font-size: 20px;
}

.section-two h2 {
    font-size: 24px;
}

.section-two p {
    font-size: 17px;
}

.section-two i {
    font-size: 27px;
}

.section-three h2 {
    font-size: 24px;
}

.section-three .gallery {
    grid-template-columns: repeat(1,200px);
}

.section-four h2 {
    font-size: 24px;
}

.section-four .container {
    grid-template-columns: repeat(1,1fr);
}

.section-four .faq .question {
    font-size: 19px;
    
}

.section-four .faq .answer {
    font-size: 17px;
}

.section-five .container {
    grid-template-columns: repeat(1,1fr);
}

.section-five #email {
    width: 50%;
    font-size: 17px;
}

.section-five .submit {
    font-size: 17px;
}

.section-five .copyright {
    font-size: 17px;
}

.section-five strong {
    font-size: 21px;
}

.section-five p {
    font-size: 17px;
}
}